.md-typeset .tabbed-content {
    box-shadow: 0 -0.05rem var(--md-default-fg-color--lightest) inset;
}

aside.md-banner {
    background-color: rgb(180, 2, 2);
}

[data-md-color-primary="intel"] {
    --md-primary-fg-color:        #005B85;
    --md-accent-fg-color:         #0095CA;
    --md-primary-fg-color--light: #15BCEF;
    --md-primary-fg-color--dark:  #00377C;
    --cell-green: #D6E3BC;
    --cell-blue:  #B6DDE8;
    --cell-red:   #E5B8B7;
    --cell-orange: #fce5a6;
}

[data-md-color-primary="intel-dark"] {
    --md-primary-fg-color:        #41728A;
    --md-accent-fg-color:         #548FAD;
    --md-primary-fg-color--light: #183544;
    --md-primary-fg-color--dark:  #548FAD;
    --cell-green: #5d762b;
    --cell-blue:  #254a55;
    --cell-red:   #5c2221;
    --cell-orange: #ba8903;
}

.md-header--shadow {
    box-shadow: unset;
    transition: unset;
}

.breadcrumbs--shadow {
    box-shadow: 0 0 .2rem #0000001a,0 .2rem .4rem #0003;
    transition: transform .25s cubic-bezier(.1,.7,.1,1),box-shadow .25s;
}

.tabbed-block {
    /* Apply left padding to all tabbed blocks, except for the overrides below */
    padding-left: 10px;
}

.tabbed-block:has( > ul > li > .tabbed-set),
.tabbed-block:has( > ol > li > .tabbed-set) {
    /* Do not apply padding in case the nested tab is inside a list, as it's indented already */
    padding-left: 0;
}

.tabbed-block:has(> .highlight):not(:has(> p)) {
    /* If the tab contains only a code block, do not apply padding */
    padding-left: 0;
}


.tabbed-block:has(.tabbed-set) {
    /* Apply left margin to any .tabbed-set nested inside another .tabbed-set, regardless of intervening elements */
    padding-left: 10px;
}

.tabbed-content {
    border-left: .05rem dotted var(--md-default-fg-color--lightest);
}
